ion-content{
    --background: linear-gradient(135deg, brown,rgb(255, 136, 0));
}

ion-card{
    --background:white;
}

ion-card-subtitle{
    margin-top:10px;

}

ion-searchbar{
    --background: white;
}