<ion-header>
  <ion-toolbar>
    <ion-title>
      DIVPIZZA - InÍcio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar>
      
    </ion-searchbar>
    <br/>
    <br/>
    <ion-card>
        <img src="../assets/pizza1.jpg" alt="Pizza deliosa de calabresa">
      <ion-card-content>
        <ion-card-title>
          Calabresa Gourmet
        </ion-card-title>
        <ion-card-subtitle>
          Queijo branco, calabresa , azeitona, cebola,
          Azeite trufado paganini, manjericão e tomate seco.
        </ion-card-subtitle>
        <br/>
        <br/>
        <ion-button color='danger'>
          <ion-icon name="cart" slot="start">
          </ion-icon>
              Comprar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
