ion-content{
    --background: linear-gradient(135deg, brown,rgb(255, 136, 0));
}

ion-card{
    --background:white;
}

ion-card-subtitle{
    margin-top:10px;

}

ion-searchbar{
    --background: white;
}

.card-menu{
    position:relative;

}
.card-menu ion-button{
    position: absolute;
    top:0;
    right: 0;   
    --background: transparent;
    --background-activated:rgb(180,59,59); 
}
